# Build results
bin/
obj/

fibonacciNumbers/obj/
fibonacciNumbers/bin/

# User-specific files
*.user
*.rsuser
*.suo
*.sln

# Logs
*.log

# NuGet Packages
packages/
*.nupkg
project.lock.json

# Visual Studio + Code
.vs/
.vscode/
